.header-container h1{
    font-size: 24px;
    color: var(--dark-white-text);
}

.header-follow{
    color: var(--dark-blue-text);
    font-weight: 700;
    line-height: 2;
    margin-bottom: 1.2rem;
}


.darkMode {
  color: var(--dark-blue-text);
  font-weight: 700;
}

.thame-switcher{
    margin: 1rem 0 2rem 0;
    display: flex;
    justify-content: space-between;
}

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
    outline: none;
  }
  
  .switcher {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, hsl(210, 78%, 56%),hsl(146, 68%, 55%));
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switcher:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: hsl(228, 28%, 20%);
    -webkit-transition: .33s;
    transition: .33s;
  }
  
 input:checked ~ .switcher{
    background: #ccc;
 }
 input:checked ~ .switcher:before{
    background-color: white;
 }

  input:hover + .switcher {
    background: linear-gradient(to right, hsl(210, 78%, 56%),hsl(146, 68%, 55%));
  }

  input:focus + .switcher {
    box-shadow: 0 0 1px linear-gradient(to right, hsl(210, 78%, 56%),hsl(146, 68%, 55%));
  }
  
  input:checked + .switcher:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
  }
  
  /* Rounded sliders */
  .switcher.round {
    border-radius: 34px;
  }
  
  .switcher.round:before {
    border-radius: 50%;
  }

  .switcher-container{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 12px;
      color: hsl(225, 20%, 60%);
  }

 

  @media only screen and (min-width: 575px) {
    .header-container h1{
      font-size: 28px;
  
  }
    hr{
      display: none;
    }



  .switch {
    margin-left: 1rem;
  }

  }
    
 

  @media only screen and (min-width: 675px) {

    

  }

  @media only screen and (min-width: 1120px) {

    



  }