.big-cards{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}

.big-cardlayout{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    min-width: 335px;
    min-height: 220px;
    top:13rem;
    background-color: var(--card-background);
    border-radius: 4px;
    z-index: 2;
}

.big-cardlayout:hover{
    cursor: pointer;
    background-color: hsl(226, 19%, 87%);
}

.facebook-thame{
    border-top: 4px solid hsl(203, 89%, 53%);
}

.insta-thame{
  background-clip: content-box, border-box;
  background: linear-gradient(hsl(227, 47%, 96%), hsl(227, 47%, 96%)) padding-box,
              linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) border-box;
    border-top: 4px solid transparent;
    border-radius: 4px;
}

.insta-thame:hover{
    background: linear-gradient(hsl(226, 19%, 87%), hsl(226, 19%, 87%)) padding-box,
    linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) border-box;
}

.twitter-thame{
    border-top: 4px solid hsl(203, 89%, 53%);
}

.youtube-thame{
    border-top: 4px solid hsl(348, 97%, 39%);
    
}


.iconName-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.iconName-container div:nth-child(1){
    margin-right: 0.5rem;
}

.social-name{
    
    color: hsl(228, 12%, 44%);
    font-weight: 700;
    font-size: 12px;
    
}

.followers-counter{
    color: hsl(230, 17%, 14%);
    font-size: 52px;
    font-weight: 700;
}

.follow-title{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 13px;
    color: hsl(228, 12%, 44%);
    margin-bottom: 1.5rem;
}

.iconToday-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.iconToday-container div:nth-child(1){
    margin-right: 0.2rem;
    padding: 0 0 0.4rem;
}

.counterToday{
    font-size: 12px;
    font-weight: 700;
}

.greenCounter {
    color: #1eb589;
}

.redCounter{
    color: #dc414c;
}

@media only screen and (min-width: 575px) {

    .big-cards{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: auto auto;
        gap: 25px;
      
    }

    .big-cardlayout{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        min-width: 250px;
        min-height: 220px;
    
    }

  }

  @media only screen and (min-width: 1435px) {
  
    .big-cards{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 30px;
       
    }

    .big-cardlayout{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        min-width: 250px;
        min-height: 220px;
       
    }

  }
