@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
  --background-all: hsl(0, 0%, 100%);
  --background-bgTop: hsl(225, 100%, 98%);
  --card-background: hsl(227, 47%, 96%);
  --dark-blue-text:hsl(228, 12%, 44%);
  --dark-white-text: hsl(230, 17%, 14%);
  --hover-bgCards: hsl(226, 19%, 87%);
  --overText: hsl(228, 12%, 44%);
}

[data-theme='dark'] {
  --background-all: hsl(230, 17%, 14%);
  --background-bgTop: hsl(232, 19%, 15%);
  --card-background: hsl(228, 28%, 20%);
  --dark-blue-text:hsl(228, 34%, 66%);
  --dark-white-text: hsl(0, 0%, 100%);
  --hover-bgCards: hsl(230, 28%, 30%);
  --overText: hsl(0, 0%, 100%);
}




.plusBody, html, body {
  height: 100vh;
  background-color: var(--background-all);
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  
}

.main-container{
  position: relative;
  color: var(--dark-white-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1.5rem 1rem 1.5rem;
  background-color: var(--background-all);
}

.headFlex{
    position: relative;
    background-color: var(--background-bgTop);
    padding: 2rem 1.5rem 3.5rem 1.5rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: -6rem;
    z-index: 1;
}

hr{
  border: 0;
  height: 1px;
  color:hsl(228, 12%, 44%);
  background-color: hsl(228, 12%, 44%);
 
}


@media only screen and (min-width: 575px) {

  .main-container{
    padding: 2rem 2rem 1rem 2rem;
  }

  .headFlex{
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.5rem 8.5rem 1.5rem;
    margin-bottom: -10rem;
  }

}

@media only screen and (min-width: 675px) {

  .main-container{
    padding: 2rem 7% 1rem 7%;
  }

  .headFlex{
    padding: 2rem 7% 8.5rem 7%;
    margin-bottom: -10rem;
  }

}

@media only screen and (min-width: 1120px) {

  .main-container{
    padding: 2rem 12% 1rem 12%;
  }

  .headFlex{
    padding: 2rem 12% 8.5rem 12%;
    margin-bottom: -10rem;
  }
}